@import "~antd/dist/antd.css";

body {
  margin: 16px;
  padding: 0;
  background-color: #0f0224;
  overflow-x: hidden;
}

#root {
  width: calc(100%-8px);
  height: calc(100%-8px);
}

.App {
  margin: auto;
  max-width: 400px;
  position: relative;
  top: 25px;
  overflow-x: hidden;
}

p .state {
  color: white;
}
